.Button{
    padding: .7rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    margin: .5rem;
    min-width: 120px;
    transition: all .18s;
}
.Button:hover{
    transform: scale(1.08);
}
.Button.Primary{
    background-color: #8baa00;
}
.Button.Secondary{
    color: yellow;
}