.Button{
    padding: .7rem;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background: transparent;
}
.Button.Primary{
    /* border: none; */
    background-color: red;
    color: white;
}
