.Title{
    text-align: center;
    font-size: 3.5rem;
}
.CardContanier{
    width: 80%;
    display: grid;
    justify-content: center;
    margin: 1rem auto;
    gap: 2rem;
    grid-template-columns: repeat(3, 400px);
}