.navigation{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(175, 99, 0);
    color: white;
    &-title{
        margin: 0;
        font-size: 2rem;
    }
    &-list{
        display: flex;
        flex-direction: row;

        &-item{
            margin: .7rem;
            font-size: 1.4rem;
            list-style: none;
            cursor: pointer;
        }
    }
}